:root {
    --menu-background-color: #535d70;
    --highlight-color: #40e0d0b2;
    --primary-color: #85929E;
    --secondary-color: #D1F2EB;
    --background-color: #F2F3F4;
    --text-color: #212529;
    --success-color: #28A745;
    --warning-color: #FFC107;
    --error-color: #DC3545;
  }

  /*
--menu-secundario:#f3f3f3;


  */



  